<!--The reason we have access to topics inside of the topic_component.html => 
    we passed these datas (i.e topics, rooms) inside a context dixtionary 
    and they are brought to the template HOME but it is also passed down to the 
    individual components  
-->

<div class="topics">
    <div class="topics__header">
      <h2>Browse Topics</h2>
    </div>
    <ul class="topics__list">
      <li>
        <a href="{% url 'home' %}" class="active">All <span>{{topics.count}}</span></a>
      </li>
      {% for topic in topics %}
      <li>                                                                                                          <!-- Just topic.count wouldn't give anything because it would be 1-->
        <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}<span>{{topic.room_set.all.count}}</span></a>     <!--topic.room_set.all.count == NO.OF ROOMS(CHILD SET) under that topic -->
      </li>
      {% endfor %}
      
    </ul>
    <a class="btn btn--link" href="topics.html">
      More
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
  </div>




<!-- <h3>Browse Topics</h3>     Sidebar -->
<!-- <hr> -->

<!-- <div> -->
    <!-- <a href="{% url 'home' %}">All</a>        http://127.0.0.1:8000/?q=Python  added to the parameters -->
<!-- </div>  -->

<!-- {% for topic in topics %} -->
    <!-- <div> -->
        <!-- <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>        http://127.0.0.1:8000/?q=Python  added to the parameters -->
    <!-- </div>                                                                     can get this value inside of the VIEW and can be used to FILTER -->
<!-- {% endfor %} -->